* {
  box-sizing: border-box; }

.main {
  padding-top: 75px; }

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 10px;
  left: 0;
  top: 0;
  background-color: black; }

.branding {
  color: white;
  float: left; }

.nav.nav-right {
  float: right;
  color: white; }

.twitter-icon {
  height: 20px;
  margin-right: 10px; }
  .twitter-icon path {
    fill: black; }

.twitter-login-link {
  color: black;
  padding: 10px;
  background-color: white; }

.account-link {
  color: white;
  text-decoration: none; }
