.header{
	transform-origin: top center;
	position: fixed;
	opacity: 0;
	top: 0;
	width: 100vw;
	height: 35px;
	background-color: white;
	backface-visibility: hidden;
	background-color: black;
}

.branding{
	color: white;
	float: left;
}

.twitter-icon{
	height: 20px;
	margin-right: 10px;

	path{
		fill: black;
	}
}

.twitter-login-link{
	color: black;
	padding: 10px;
	background-color:white;
	display: flex;
}

.account-link{
	color: white;
	text-decoration: none;
	padding: 0rem .5rem;
	float: left;

	&:first-of-type{
		border-right: 2px solid white;
	}
	
}