<template name="header">
	{{#donutHeader headerOptions}}
		<div class="wrapper">
			{{#donutNav type='left'}}
				<a href="/" class="branding transition-link">Pun App</a>
			{{/donutNav}}

			{{#donutNav type='right'}}
				{{#if currentUser}}
					<a href="/{{username}}" class="account-link transition-link username">{{username}}</a>
					<a href="#" class="account-link logout-link">Logout</a>
				{{else}}
					<a href="#" class="btn twitter-login-link">{{>twitterIcon}}Login</a>
				{{/if}}
			{{/donutNav}}
		</div>
	{{/donutHeader}}
</template>