*{
	box-sizing: border-box;
}

a{
	color: black;
	text-decoration: none;
}

body{
	font-family: $copy;
}

.pun-list{
	list-style: none;
	padding: 0;
	.pun{
		padding: 1rem;
		background-color: darken(white, 10%);
		margin-bottom: 1rem;
	}
}

.title{
	float: left;
}