.btn{
	padding: .5rem 1rem;
	border: 0;
	cursor: pointer;
	font-family: $heading;
}

.primary-btn{
	font-size: 1.3rem;
	font-weight: 100;
	background-color: $red;
	color: white;
}

.show-more-awards{
	opacity: 0;
}

.refresh-btn{
	height: 40px;
	width: 40px;
	position: absolute;
	background-color: transparent;
	padding: 0;

	&.loading{
		.circle{
			fill: $green;
		}
	}
}

.refresh-icon{
	width: 100%;
	height: 100%;
	path{
		stroke: white;
	}

	.arrow{
		transform-origin: 53% 50%;
		width: 30px;
		height: 30px;
	}

	.circle{
		transition: all 300ms ease-out;
	}
}

.triangle{
	path{
		fill: white;
	}
}